body,
* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 1px solid;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.resturantList {
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  width: 250px;
  padding: 10px;
  margin: 10px;
}

.card img {
  width: 100%;
}

.searchInput {
  padding: 10px;
}

.searchBtn {
  background-color: #234687;
  border: 1px solid #234687;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}

.searchBar {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 30px;
}

.card.shimmerCard {
  border-color: #8080801f;
}

.shimmerImg {
  height: 200px;
  background: #8080801f;
}

.shimmerTitle {
  background-color: #8080801f;
  height: 20px;
  margin-top: 5px;
}

.shimmerCuisines {
  background-color: #8080801f;
  height: 20px;
  margin-top: 5px;
}

.shimmerStars {
  background-color: #8080801f;
  height: 7px;
  margin-top: 5px;
}
